*  {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/*************************************/

body {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
}

.main {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/*************************************/

/*Set style of text part of tooltip*/
button > .btnTooltip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    /* 90px is 90% width of Tooltip */
    left: 90%;
    margin-left: -90px;
}

/*Set style of button triangle part of tooltip*/
button > .btnTooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

button:hover > .btnTooltip {
  visibility: visible;
}

/*************************************/

/*Set style of text part of scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/*************************************/

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-color: black;
    color: white;
}

/*************************************/

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;

    background-color: lightgray;
}

.sidebar .itemsTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;

    width: 75%;
}

/********************/

.category {
    display: flex;
    flex-direction: column;

    /* Category section remain fixed size and will not shrink*/
    flex: 0 0 240px;

    padding: 5px;
}

.categoryTitle {
    width: 90%;
    margin: 3px 5px;
}

.categoryItem {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;

    background-color: #fff;
}

/********************/

.projects {
    display: flex;
    flex-direction: column;
    padding: 5px;

    /* "flex: 1" makes the element occupy all remaining available space
       (other fiexd space is occupied by category calss) in the flex container(sidebar) */
    flex: 1;

    /* "min-height: 0" overrides the default minimum height behavior of flex items */
    /* Flex items have an implicit "min-height: auto" by default, this means flex 
       items won't shrink smaller than their content size */
    /* When there's a lot of content, "min-height: 0" prevents the flex item from 
       shrinking, causing the entire container to expand */
    min-height: 0;

    /* Summary:
        "flex: 1" makes the element fill all space not occupied by other fixed elements in the container
        "min-height: 0" allows the element to shrink, so that when internal content overflows, it can trigger overflow behavior
        Without "min-height: 0", when there's too much content, the entire container would expand instead of creating a scrollbar within the element
    */
}

.projectHeader {
    display: flex;
    flex-direction: row;
}

.projectHeader > button {
    position: relative;
    background-color: lightgray;
    transition: transform .2s;

    border: none;
    margin: 0 5px;
}

.projectHeader > button:hover {
  transform: scale(1.2);
}

.projectList {
    /* Add scrollbar in y-axis */
    /* Need to cooperate with "flex: 1" and "min-height: 0" in projects class
       ,and cooperate with "flex: 0 0 240px" in category class*/
    overflow-y: auto;
}

.projectItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid black;
    margin: 10px 8px 10px 10px;
    border-radius: 5px;

    background-color: #fff;

    /*Prevent the size of projectItem gets too big when projectTitle is too long */
    max-width: 275px;
}

.projectTitle {
    width: 75%;
    margin: 3px 5px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectBtns {
    display: flex;
    flex-direction: row;

    /*fixed the size of butons*/
    flex-shrink: 0;
}

.projectItem > img {
    /*fixed the size of image*/
    flex-shrink: 0; 
}

.projectBtns > button {
    background-color: #fff;
    transition: transform .2s;

    border: none;
    margin: 1px;
}

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
.projectBtns > button:hover {
  transform: scale(1.2);
}

/*************************************/

.sloganTitle {
    display: flex;
    flex-direction: row;
}

.taskHeader {
    display: flex;
    flex-direction: row;
}

.taskHeader > button {
    position: relative;
    background-color: grey;
    transition: transform .2s;

    border: none;
    margin: 0 5px;
}

.taskHeader > button:hover {
  transform: scale(1.2);
}

.taskItem {
    display: flex;
    flex-direction: row;
}

/*************************/

.content .itemsTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}