*  {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/*************************************/

body {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);

    --color-with-theme: #408EE0;
}

/*************************************/

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-color: black;
    color: white;
}

/*************************************/

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    background-color: grey;
}

.category {
    height: 45%;
    display: flex;
    flex-direction: column;
}

.categoryDiv {
    display: flex;
    flex-direction: row;
}

.projectHeader {
    display: flex;
    flex-direction: row;
}

.projectHeader > button {
    position: relative;
    background-color: grey;
    transition: transform .2s;

    border: none;
    margin: 0 5px;
}

/*Set style of text part of tooltip*/
button > .btnTooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*Horizontal center alignment (60px is half of width)*/
    left: 50%;
    margin-left: -60px;
    /**********/
}

/*Set style of button triangle part of tooltip*/
button > .btnTooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

button:hover > .btnTooltip {
  visibility: visible;
}

.projectHeader > button:hover {
  transform: scale(1.2);
}

.projectDiv {
    display: flex;
    flex-direction: row;
}

.projectTitle {
    width: 65%;
}

.projectBtns > button {
    background-color: grey;
    transition: transform .2s;

    border: none;
    margin: 1px;
}

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
.projectBtns > button:hover {
  transform: scale(1.2);
}